PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

HASH_TOKEN=
EXPIRES_ACCESS_TOKEN=1d
EXPIRES_REFRESH_TOKEN=1M

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=

APP_NAME=JobApply
APP_URL=http://localhost:3000

REDIS_HOST=localhost
REDIS_PORT=6379

RABBITMQ_URL=amqp://guest:guest@localhost:5672

RAPIDAPI_KEY=
EMAIL_ENCRYPTION_KEY=
